/* Trying to follow the instructions here...https://www.cdnfonts.com/calluna.font */
@import url('https://fonts.cdnfonts.com/css/calluna');

body{
    background-color: rgb(4, 32, 32);
    color:aliceblue;
    font-family: 'Calluna', sans-serif;
                                                
}

a{
    color: aliceblue;
}
a:hover {
    background-color: yellow;
  }

h1{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}

/* I'll be putting more in here, keep your shirt on. */